<%- include("../partials/head")%>
  <div class="home">
    <header>
      <h1>Ontwerp je eigen tshirt</h1>
      <a href="/new-credentials">Aan de slag</a>
    </header>

    <section>
      <h2>Uitgelichte ontwerpen</h2>
      <% ontwerpen.forEach(ontwerp => { %>
          <article>
            <h3>t-shirt ontwerp</h3>
            <img src="images/uploads/<%= ontwerp.shirtImg%>" style="width: 150px" alt="t-shirt">
            <p style="color: <%= ontwerp.shirtfontColor%>; font-family: <%= ontwerp.shirtFont%>"><%= ontwerp.shirtText%></p>
          </article> 
      <%})%>        
    </section>

    <section>
        <h3>Maak meerdere eigen ontwerpen</h3>
    </section>

    <section>
      <h3>Niet tevreden? Verander het!</h3>
    </section>
        
    <section>
      <h3>Bestel gelijk!</h3>
    </section>
  </div>
<%- include("../partials/footer")%>